<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="PHPTravels Suite">
    <test name="Registration First">
        <classes>
            <class name="runner.registrationRunner"/>
        </classes>
    </test>

    <test name="Search Second">
        <classes>
            <class name="runner.searchRunner"/>
        </classes>
    </test>

    <test name="Booking Last">
        <classes>
            <class name="runner.bookingRunner"/>
        </classes>
    </test>
</suite>
